/* Description: Reusable CSS for use with dialog components */
.dialog-container {
    display: inline-block;
    max-width: 100%;
    min-width: 400px;
    box-sizing: border-box;
    overflow: visible;
    vertical-align: top;
    border-radius: 16px;
    border: 1px solid grey;
}

.dialog-header {
    background: linear-gradient(90deg, #8b0000 0%, #d00000 100%);
    color: white;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.dialog-header h3 {
    margin: 0 0 0 20px;
}

.dialog-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-bottom: 1px solid grey;
}

.dialog-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 16px 20px;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.dialog-actions-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    width: 100%;
    box-sizing: border-box;
}

.dialog-actions-radio-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 12px;
}

.dialog-actions-skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    margin-bottom: 12px;
}

.dialog-actions button {
    padding: 10px 16px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #767676;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 4px #767676;
}

.dialog-actions button:hover {
    box-shadow: 2px 2px 8px #767676;

}

.dialog-actions .confirm-button {
    background-color: dodgerblue;
    color: white;
    border: none;
    font-weight: bold;
}

.dialog-actions .cancel-button {
    background-color: white;
    color: darkred;
    border: 1px solid darkred;
}

.dialog-actions .icon-img {
    width: 40px;
    height: 40px;
}

/* Additional styling for MUI Dialog component */
.MuiDialog-paper.dialog-paper {
    border-radius: 18px;
    overflow: hidden;
}

