.app-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    z-index: 1001;
}

.app-header-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-header h1 {
    margin: 0;
    font-size: 24px;
    color: #C1121F;
}

.app-header img {
    height: 70px;
    width: auto;
    padding-left: 20px;
}
