/* src/style/ItemCard.css */
.item-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    gap: 12px;
    /*border-bottom: 1px solid #eee;*/
}

.item-card-content {
    text-decoration: none;
    color: inherit;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 0;
}

.item-card-info {
    display: flex;
    align-items: center;
    gap: 6px;
}

.item-card-actions {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 20px;
    flex-shrink: 0;
}
