.process-item {
    display: flex;
    align-items: center;
    padding: 10px;
}

.process-item:hover {
    background-color: #f9f9f9;
    transition: box-shadow 0.2s;
}

.process-item a {
    text-decoration: none;
    color: inherit;
    flex: 1;
    align-items: center;
}

.process-item-info {
    display: flex;
    align-items: center;
    gap: 6px;
}
