.process-item {
    display: flex;
    align-items: center;
}

.process-item a {
    text-decoration: none;
    color: inherit;
    flex: 1;
    align-items: center;
}

.process-item-info {
    display: flex;
    align-items: center;
    gap: 6px;
}
