.process-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.process-item a {
    text-decoration: none;
    color: inherit;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.process-item-info {
    display: flex;
    align-items: center;
    gap: 6px;
}

.process-item-actions {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 20px;
}
