.tag-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 6px 0;
}

.tag-item-name {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tag-item-actions {
    display: flex;
    align-items: center;
    margin-left: auto;
}
